@font-face {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
@font-face {
  font-family: 'Courgette', cursive;
}

body {
  font-family: Raleway,"Sans-serif";
  margin: 0;
}



/* Header */

.header-content {
  background-color: #cf2127;
  min-height: 100px;
  max-height: 110px;
  display: flex;
  justify-content: space-between;
}

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  color: #fff;
  font-family: 'Courgette', cursive;
}
.logo img {
  width: 64px;
  height: 64px;
}
.logo img:hover {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
}
.list-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.list-a li {
  display: inline-flex;
  list-style: none;
  padding: 10px;
  border-radius: 50px;
}
.list-a li:hover {
  background-color: #f7af2a;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.list-a span {
  padding: 10px;
}
.list-a a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.social span {
  padding: 10px;
}
.social i {
  color: #fff;
  font-size: 40px;
}
.hamburguer {
  display: none;
  align-items: center;
  margin-right: 10%;
}
.sidenav {
    font-size: 18px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cf2127;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 30px;
    text-align: center;
}

.sidenav a {
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f7af2a;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
  padding: 20px;
  font-size: 2em;
}

/* Main */

.main-content {
  background-color: #fff7bf;
  padding: 50px;
  display: grid;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr;
}
.main-box {
  grid-column: col 2 / span 1;
  grid-row: 1;
  grid-template: none;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  background-color: #cf2127;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  padding-bottom: 30px;
}
.main-box h2, h3 {
  padding: 10px;
  border-radius: 20px;
  background-color: #f7af2a;
  font-size: 1.3em;
}

.find {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input {
  font-size: 16px;
  height: 5vh;
  width: 26vw;
}

input[type="submit"] {
  border-color: #f7af2a;
  background-color: #f7af2a;
  border-radius: 20px;
  width: 26vw;
  height: 10vh;
}


/* Footer */

.footer-content {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #991c1e;
  padding: 10px;
  grid-column: 1/4;
}

.footer-content i {
  font-size: 1.8em;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Media screen */

@media screen and (max-width: 700px) {

  .list-a {
    display: none;
  }
  .social {
    display: none;
  }
  .slide video {
    left: -500px;
  }
  .hamburguer {
    display: flex;
  }
}
