body {
  margin: 0;
}
.wrap {
  display: grid;
  grid-template-columns: span 4;
  grid-template-rows: span 6;
  grid-template-areas:
  "header header header"
  "slider slider slider"
  "options options options"
  "ifood ifood ifood"
  "footer footer footer";
  min-height: 100vh;
  border: 1px solid red;
  background-color: white;
}

/* grid */

.masthead {
  border: 1px solid red;
  grid-area: header;
}


.main-slide {
  border: 1px solid red;
  grid-area: slider;
}

.main-options {
  border: 1px solid red;
  grid-area: options;
}
.main-ifood {
  border: 1px solid red;
  grid-area: ifood;
}

.foots {
  border: 1px solid red;
  grid-area: footer;
}

/* media screens */

/* default old */
@media screen and (max-width: 1024px) {
  body {
    background-color: yellow;
  }
}
/* iphone 5s */
@media screen and (max-width: 640px) {
  body {
    background-color: blue;
  }
}

/* menu */

.masthead {
    background-color: red;
}

.masthead img {
  border: 1px solid blue;
}
.masthead h1 {
  color: #fff;
  font-family: 'Courgette', cursive;
  border: 1px solid blue;
}
.masthead.logo {
  grid-row: 1/4;
}
.masthead.list {
  grid-row: 2/4;
}
.main-content {
  grid-column: 1/4;
}
.foots {
  grid-column: 1/4;
}
.social i {
  height: auto;
  width: auto;
  font-size: 35px;
  border: 1px solid blue;
}
.lista.item a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid blue;
}

/* slide */

.main-slide img{
  width: 100%;
}
